.whole-wheat-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f2fedc;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 70px minmax(160px, auto) auto;
  grid-template-areas: "leftbar main" "footer footer";
  column-gap: 20px;
  row-gap: 20px;
}

.main-recipe,
.diets {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons,
.main-recipe {
  grid-area: main;
}

#RecipeOTD,
#RecipeOTDName {
  grid-area: leftbar;
}

.recipe {
  flex: 1;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: flex;
  align-items: right;
  grid-area: main;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

.diets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-area: footer;
}

.option {
  flex-basis: 30%;
  text-align: center;
  margin: 10px;
}

.option img {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin-bottom: 8px;
}

/* .third {
  text-align: center;
}

.third img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
} */

@media (max-width: 768px) {
  .second .option {
    flex-basis: 100%;
  }
}
