#h1 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
#updates {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-justify: auto;
}
