#h2 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 10%;
}
#password {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-justify: auto;
}
#email {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-justify: auto;
}
#button {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-justify: auto;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.signup-input {
  font-family: "Courier New", Courier, monospace !important;
}
